*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$text-color: #fff;
$pri-color: #fa8072;
$pri-color-m: #da4231;
$sec-color: #f7caca;
$third-color: #555;

body {
  @include center;
  min-height: 100vh;
  background-color: $third-color;
}

.container {
  position: relative;
  @include center;
  flex-direction: column;
  height: 63rem;
  width: 30rem;
  background: $pri-color-m;
  overflow: hidden;
  color: $text-color;
}

#header {
  position: absolute;
  top: 0;
}

.app-title {
  position: absolute;
  top: 2.5rem;
  padding-left: 3rem;
  text-transform: uppercase;
  text-shadow: 0 0 0.3rem #555;
}

#main {
  position: absolute;
  height: 49rem;
  width: 30rem;
  background: rgba(250, 128, 114, 0.425);
}

.btn-opt-wrapper {
  position: relative;
  @include center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0.5rem 0.5rem;
}

.add-btn {
  padding: 0.3rem 4rem;
}

.theme-opt {
  padding: 0.3rem 3.5rem;
}

.add-btn,
.theme-opt,
.masterlist {
  position: relative;
  font-size: 2rem;
  background: rgba(85, 85, 85, 0.3);
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.336);
  color: $text-color;
  border-radius: 1rem;
  border: 0.1rem solid $sec-color;
  cursor: pointer;
  transform: scale(1.1);

  &:active {
    transform: scale(1);
    color: $text-color;
    background: $pri-color;
  }

  &:hover {
    background: $pri-color-m;
  }
}

.masterlist {
    width: 70%;
    left: 15%;
    top: 29vh;
    z-index: 1;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 0.1rem solid $sec-color;
    background: rgba(85, 85, 85, 0.3);
    cursor: pointer;
  }

.theme-opt:active + #select {
  display: block;
}

#select {
  position: absolute;
    display: none;
  z-index: 5;
  outline: none;
  top: 4rem;
  padding: 0.5rem 4rem;
  //   border: 0.1rem solid $sec-color;
  border: none;
  font-size: 1.8rem;
  background: rgba(250, 128, 114, 0.5);
  color: $text-color;
  // display: none;
}

.opt {
  padding: 1rem;
  border: none;
  outline: none;
  background: $pri-color-m;
  box-shadow: 0 0 0.5rem #000;
}

#ul-items{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 40rem;
    width: 100%;
    gap: .3rem;
    top: 5rem;
    bottom: 1rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    // border: .1rem solid #000;

    &::-webkit-scrollbar{
        display: none;
    }
}

li{
    list-style: none;
    padding: .5rem;
    @include center;
    gap: 1rem;
}

#item-list{
    position: relative;
    padding: 0 0 .2rem 2rem;
    font-size: 1.8rem;
    top: .5rem;
    margin-left: 1rem;
    width: 70%;
    outline: none;
    border: none;
    border-bottom: .1rem solid $sec-color;
    background: none;
    color: $text-color;
}

#cb-bought{
    position: relative;
    -webkit-appearance: none;
    top: .5rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: .1rem solid $sec-color;

    &::after{
        position: absolute;
        content: '✓';
        color: $text-color;
        font-size: 3rem;
        display: none;
        font-weight: 500;
        top: -1.5rem;
    }

    &:checked + #item-list{
        text-decoration: line-through;
        border: none;
    }

    &:checked::after{
        display: block;
    }
}



.copyright {
  position: absolute;
  top: 7rem;
  padding-left: 7rem;
  font-size: 1.3rem;
}

#footer {
  position: absolute;
  bottom: -0.5rem;
}
