*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

:root {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.frame {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 71.7rem;
  width: 55rem;
  background: #f4f4f4;
  overflow: hidden;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.upper-part {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  top: .5rem;
  left: .5rem;
  right: .5rem;
  height: 28.5rem;
  width: 54rem;
  border-radius: 1rem 1rem 0 0;
  background: #6943ff;
}

.card-title {
  font-size: 2.8rem;
  color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#num-to-convert {
  height: 8.3rem;
  width: 11.7rem;
  text-align: center;
  border-radius: 1rem;
  color: #fff;
  font-size: 5.8rem;
  font-weight: 800;
  line-height: 2.439;
  background: none;
  outline: none;
  -webkit-box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
  border: .1rem solid #b295ff;
}

#convert-btn {
  height: 4.2rem;
  width: 11.7rem;
  background: #fff;
  color: #3d3d3d;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  border: .1rem solid #fff;
  -webkit-box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
  border-radius: .5rem;
  cursor: pointer;
}

#convert-btn:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.lower-part {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  top: 28.5rem;
  height: calc(100% - 28.5rem);
  width: 55rem;
  border-width: .2rem;
}

.lower-part::before {
  content: '';
  position: absolute;
  top: .5rem;
  height: 42rem;
  width: 54rem;
  border-color: transparent #fff #fff #fff;
  -webkit-box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3);
  border-width: .27rem;
  border-spacing: 2;
  border-style: dashed;
  border-radius: 0 0 1rem 1rem;
}

.name {
  font-size: 2rem;
  color: #5a537b;
  line-height: 2rem;
  font-weight: 600;
  text-align: center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  width: 50rem;
  height: 10.857rem;
  background: #fff;
  border-radius: .4rem 0 0 0;
}

.result-text {
  font-size: 1.4rem;
  color: #353535;
  text-align: center;
  line-height: 2rem;
}
/*# sourceMappingURL=exer19.css.map */