@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: "Zilla Slab", serif;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$pri-color: #fdb632;
$sec-color: #027878;

body {
  @include center;
  min-height: 100vh;
  background: $pri-color;
}

.frame {
  position: relative;
  @include center;
  flex-direction: column;
  height: 35rem;
  width: 28rem;
  background: $sec-color;
  overflow: hidden;
  color: #fff;
}

.title {
  position: absolute;
  top: 1.8rem;
  font-size: 2.2rem;
  z-index: 1;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);

  &::after {
    content: "";
    position: absolute;
    background: #fdb632;
    width: calc(100% + 4px);
    height: 90%;
    left: -2px;
    bottom: 0;
    z-index: -1;
    transform: rotate(-2deg);
  }
}

.sub-title {
  position: absolute;
  top: 5rem;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 100;
}

.wrapper {
  position: relative;
  @include center;
  flex-direction: column;
  align-items: flex-start;
  top: 3rem;
  height: 28rem;
  width: 25rem;
}

.chars-include {
  position: absolute;
  top: 7.5rem;
  font-size: 1.4rem;
  text-align: center;
}

.key-option,
.key-option-length {
  position: relative;
  @include center;
  justify-content: space-between;
  font-size: 1.4rem;
  margin: 1rem 1.5rem;
  top: 0;
}

.key-option-length {
  left: 2rem;
  top: -1rem;
}

.input-length {
  height: 2rem;
  width: 6rem;
  border-radius: 0.3rem;
  border: none;
  text-align: center;
  font-family: inherit;
  margin-left: 1rem;
  color: $sec-color;
}

input[type="checkbox"] {
  position: relative;
  -webkit-appearance: none;
  user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.option {
  position: relative;
  cursor: pointer;
  font-size: 1.3rem;
  left: 8rem;
  user-select: none;

  &::before {
    position: absolute;
    content: "";
    width: 3rem;
    height: 1.5rem;
    border-radius: 2rem;
    border: 0.1rem solid $pri-color;
    background-color: $sec-color;
    transition: background-color 0.5s linear;
    left: -6rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.7);
  }

  &::after {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #fff;
    transition: margin 0.1s linear;
    box-shadow: 0px 0px 5px #aaa;
    position: absolute;
    left: -6rem;
    top: 0.2rem;
  }
}

input[type="checkbox"]:checked + .option {
  text-decoration: underline 0.1rem $pri-color;
  text-underline-offset: 0.1rem;
}

input[type="checkbox"]:checked + .option::before {
  background: #fdb632;
}

input[type="checkbox"]:checked + .option::after {
  left: -4rem;
}

.result-container {
  position: relative;
  @include center;
  justify-content: start;
  font-size: 1.5rem;
  padding: 1rem;
  height: 4rem;
  border-radius: 0.5rem;
  width: 100%;
  bottom: 1.3rem;
  background: $pri-color;
}

#result {
  word-wrap: break-word;
  max-width: calc(100% - 3rem);
}

.copy-btn {
  position: absolute;
  left: 22rem;
  font-size: 2rem;
  background: none;
  border: none;
  color: #777;
  cursor: pointer;
  transition: 0.5s active ease-in-out;

  &:active {
    transform: scale(0.95);
  }

  &:active + .copied {
    visibility: visible;
  }
}

.genkey-btn {
  position: absolute;
  padding: 0.5rem 2rem;
  bottom: 0.8rem;
  background: none;
  font-family: inherit;
  color: #fff;
  left: 4.5rem;
  border: 0.1rem solid $pri-color;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);
  transition: 0.2s active ease-in-out;

  &:hover {
    background: $pri-color;
    color: $sec-color;
    font-weight: 500;
  }

  &:active {
    transform: scale(0.95);
    box-shadow: 0 0 0.5rem #fff;
  }
}

.copied {
  position: absolute;
  font-size: 1.2rem;
  color: $sec-color;
  top: 5rem;
  right: 0.5rem;
  background: $pri-color;
  padding: 0.5rem;
  visibility: hidden;
}
