

.title1{
    position: absolute;
    top: 3rem;
    font-size: 2rem;
    color: #fff;
}

.title2{
    @extend .title1;
    top: 20rem;
}

#img-container{
    position: absolute;
    @include center;
    width: 100%;
    gap: 2rem;
    top: 8rem;
}

.team-img{
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
}

.nature-pic{
    @extend .team-img;
    border-radius: 1rem;
}

#nature-container{
    position: absolute;
    @include center;
    top: 25rem;
    gap: 2rem;
}

